@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  background-color: #E7F6FF;
}

* {
  box-sizing: border-box;
  outline: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.title {

}

.button {
  height: 55px;
  background-color: #9DD558;
  border-radius: 18px;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
  @media (any-hover: hover){
    &:hover {
      background-color: #87b353;
      &.button__icon img {
        transform: translateY(-50%) translateX(10px);
      }
    }
  }
  &__icon {
    &_right {
      img {
        right: 33px;
      }
    }
    position: relative;
    img {
      transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    height: 100%;
  }
  &__body {
    position: relative;
    left: 0; // 385px
    transition: left 0.3s ease 0s;
    background-color: #fff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    width: 420px;
    height: 100%;
    padding: 32px 30px;
    display: flex;
    flex-direction: column;
  }
  &__meta {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      cursor: pointer;
      width: 15px;
      height: 15px;
      @media (any-hover: hover){
        &:hover{
          opacity: 0.8;
        }
      }
    }
  }
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color:#000;
  }
  &__content {
    flex: 1 1 auto;
    overflow: auto;
    margin: 0px -16px 0px 0px;
    padding: 0px 5px 0px 0px;
    
    &::-webkit-scrollbar {
      width: 8px;
    }
    
    &::-webkit-scrollbar-track {
      background: #fff;
    }
     
    &::-webkit-scrollbar-thumb {
      opacity: 0;
    }

    &:hover::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 20px;
      opacity: 1;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
  }
  &__footer {
    margin-top: 10px;
    &-list {
      li {
        display: flex;
        align-items: center;
        &:not(:last-child) {margin-bottom: 20px;}
        div {
          align-self: flex-end;
          margin: 0px 5px 4px 5px;
          flex: 1 1 auto;
          border-bottom: 1px dashed #DFDFDF;
        }
      }
    }
    &-var {
      font-size: 16px;
      line-height: 19px;
      color: #000000;
    }
    &-value {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
    }
    &-button {
      margin: 25px 0px 0px 0px;
    }
  }
}

.drawer-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  &:not(:last-child) {margin-bottom: 20px;}
  overflow: hidden;
  &__image {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    margin: 0px 20px 0px 0px;
    img {
      max-width: 100%;
    }
  }
  &__content {
    margin: 0px 12px 0px 0px;
  }
  &__title {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
  }
  &__price {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }
  &__button {
    background-color: #fff;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    flex: 0 0 32px;
    height: 31px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover{
        border-color: #ffffff;
        background-color: #89F09C;
        svg path {
          fill: #fff;
        }
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  min-height: 130px;
  border-bottom: 1px solid #EAEAEA;
  &__logo {
    display: flex;
    align-items: center;

    &-image {
      width: 40px;
      height: 40px;
    }

    &-info {
      margin: 0px 0px 0px 15px;
    }

    &-title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      color:#000;
      text-decoration: none;
      transition: color 0.3s ease 0s;
      @media (any-hover: hover){
        &:hover{
          color: #A5D364;
        }
      }
    }

    &-text {
      font-size: 14px;
      line-height: 17px;
      color: #9D9D9D;
      text-decoration: none;
      transition: color 0.3s ease 0s;
      @media (any-hover: hover){
        &:hover{
          color: #000;
        }
      }
    }
  }

  &__menu {

  }
}

.menu {
  &__list {
    list-style: none;
    display: flex;
    li {
      display: flex;
      align-items: center;
      cursor: pointer;
      &:not(:last-child) {margin-right: 30px;}
    }
  }
  &__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #5C5C5C;
    margin: 0px 0px 0px 10px;
  }
  &__icon {
    width: 18px;
    height: 18px;
  }
}

.page {
  padding: 40px;
  &__sneakers {

  }
}

.sneakers {
  &__title {
    
  }
  &__actions {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__form {

  }
  &__card {
    
  }
  &__body {
    display: flex;
    margin: 0px -20px;
    flex-wrap: wrap;
  }
}

.form-search {
  display: flex;
  align-items: center;
  padding: 0px 18px;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  &__icon {
    cursor: pointer;
  }
  &__input {
    &::placeholder {
      color: #C4C4C4;
    }
    height: 45px;
    border: 0;
    margin: 0px 0px 0px 13px;
    font-family: inherit;
    font-size: 14px;
    line-height: 17px;
    color: #000;
  }
}



.name {
  &__container {
    
  }
  &__content {

  }
}